<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OctoUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
    
  <userSettings>
        <OctoUploader.Properties.Settings>
              <setting name="ServerAddress" serializeAs="String">
                    <value />
              </setting>
              <setting name="APIKey" serializeAs="String">
                    <value />
              </setting>
              <setting name="DeleteOnUpload" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="WatchLocation" serializeAs="String">
                    <value>C:\Octopi</value>
              </setting>
              <setting name="AutoStart" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="RelaunchOnStartup" serializeAs="String">
                    <value>True</value>
              </setting>
        </OctoUploader.Properties.Settings>
    </userSettings>-->
    <userSettings>
        <OctoUploader.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteOnUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatchLocation" serializeAs="String">
                <value>C:\Octopi</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RelaunchOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </OctoUploader.Properties.Settings>
    </userSettings>
</configuration>